rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isOneOfRoles(array) {
      return request.auth.token.role in array;
    }

    function isCreating() {
      return resource == null;
    }

    function onlyAffectsFields(fields) {
      return isCreating()
      ? request.resource.data.keys().hasOnly(fields)
      : request.resource.data.diff(resource.data).affectedKeys().hasOnly(fields)
    }

    function myDocument(uid) {
      return request.auth.uid == uid;
    }

    function myDocumentOrAdmin(uid) {
      return request.auth.uid == uid || isOneOfRoles(['ADMIN', 'MODERATOR', 'SUPER_USER']);
    }

    function myDocumentOrMod(uid) {
      return request.auth.uid == uid || isOneOfRoles(['MODERATOR', 'SUPER_USER']);
    }

    match /{document=**} {
      allow read, write: if false;
    }

    match /users/{uid} {
      allow read;
      allow update: if myDocumentOrMod(uid);

      match /privateUserData/data {
        allow read: if myDocumentOrAdmin(uid);
        allow update: if (myDocument(uid) && onlyAffectsFields(['name','lastNames']));
      }

      match /payment_methods/{id} {
        allow read: if myDocumentOrAdmin(uid);
        allow create: if myDocument(uid);
      }

      match /userHistory/{id} {
        allow read: if myDocumentOrAdmin(uid);
      }

      match /userShares/{id} {
        allow read: if myDocumentOrAdmin(uid);
      }

      match /userTransactions/{id} {
        allow read: if myDocumentOrAdmin(uid);
      }

      // Stripe
      match /checkout_sessions/{id} {
        allow read, write: if request.auth.uid == uid;
      }
      match /subscriptions/{id} {
        allow read: if request.auth.uid == uid;
      }
      match /payments/{id} {
        allow read: if request.auth.uid == uid;
      }
    }

    match /projects/{pid} {
      allow read;
      allow create, update: if isOneOfRoles(['MODERATOR', 'SUPER_USER']);

        match /data/content {
          allow read;
          allow create, update: if isOneOfRoles(['MODERATOR', 'SUPER_USER']);
        }

        // Stripe
        match /prices/{id} {
          allow read;
          allow create, update: if isOneOfRoles(['MODERATOR', 'SUPER_USER']);
        }
        match /tax_rates/{id} {
          allow read;
        }
    }

    match /shares/{sid} {
      allow read: if request.query.limit <= 20;
    }
  }
}