rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    function isOneOfRoles(array) {
      return request.auth.token.role in array;
    }

    match /{allPaths=**} {
      allow read: if true;
      allow write: if isOneOfRoles(['MODERATOR', 'SUPER_USER']);
    }
  }
}