.MuiGrid-grid-xxs {
  flex-grow: 0;
  &-1 {
    max-width: calc(1 / 12 * 100%);
    flex-basis: calc(1 / 12 * 100%);
  }
  &-2 {
    max-width: calc(2 / 12 * 100%);
    flex-basis: calc(2 / 12 * 100%);
  }
  &-3 {
    max-width: calc(3 / 12 * 100%);
    flex-basis: calc(4 / 12 * 100%);
  }
  &-4 {
    max-width: calc(4 / 12 * 100%);
    flex-basis: calc(4 / 12 * 100%);
  }
  &-5 {
    max-width: calc(5 / 12 * 100%);
    flex-basis: calc(5 / 12 * 100%);
  }
  &-6 {
    max-width: calc(6 / 12 * 100%);
    flex-basis: calc(6 / 12 * 100%);
  }
  &-7 {
    max-width: calc(7 / 12 * 100%);
    flex-basis: calc(7 / 12 * 100%);
  }
  &-8 {
    max-width: calc(8 / 12 * 100%);
    flex-basis: calc(8 / 12 * 100%);
  }
  &-9 {
    max-width: calc(9 / 12 * 100%);
    flex-basis: calc(9 / 12 * 100%);
  }
  &-10 {
    max-width: calc(10 / 12 * 100%);
    flex-basis: calc(10 / 12 * 100%);
  }
  &-11 {
    max-width: calc(11 / 12 * 100%);
    flex-basis: calc(11 / 12 * 100%);
  }
  &-12 {
    max-width: calc(12 / 12 * 100%);
    flex-basis: calc(12 / 12 * 100%);
  }
}
